<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">


	<bean name="autoUnfrozenFundJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.esinotrans.payment.account.job.AutoUnfrozenFundJob" />
		<property name="jobDataAsMap">
			<map>
				<entry key="schedualBussinessService" value-ref="SchedualBussinessService" />
			</map>
		</property>
	</bean>

	<bean id="cronTriggerAutoUnfrozenFund" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="autoUnfrozenFundJob" />
		<property name="cronExpression" value="0 0 */1 * * ?" /><!-- 定时一小时一次触发一次 -->
	</bean>

	<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<!-- see the example of method invoking job above -->
		<property name="jobDetail" ref="autoUnfrozenFundJob" />
		<!-- 10 seconds -->
		<property name="startDelay" value="5000" />
		<!-- repeat every 60 seconds -->
		<property name="repeatInterval" value="600000" />
	</bean>

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="simpleTrigger" />
			</list>
		</property>
	</bean>

</beans>